aiohttp==3.8.3
alphabet-detector==0.0.7
beautifulsoup4==4.11.1
bleach==5.0.1
cachetools==5.2.0
emoji==2.2.0
ffmpeg-python==0.2.0
future==0.18.2
google-reverse-search==0.1.3
gpytranslate==1.4.0
humanize==4.4.0
markdown2==2.4.6
motor==3.1.1
opencv-python-headless==4.6.0.66
Telethon==1.26.1
telethon-tgcrypto
TgCrypto==1.2.5
pillow==9.3.0
psycopg2-binary==2.9.2
pyrate-limiter==2.8.4
pyrogram==2.0.88
pymongo==4.3.3
python-dotenv==0.21.0
python-telegram-bot==20.0b0
SQLAlchemy==1.4.45
webcolors==1.12
