aiohttp==3.8.3
alphabet-detector==0.0.7
APScheduler==3.9.1.post1
asyncio==3.4.3
beautifulsoup4==4.11.1
bleach==5.0.1
cachetools==5.2.1
cloudscraper==1.2.68
dateparser==1.1.6
emoji==2.2.0
ffmpeg-python==0.2.0
future==0.18.3
geniuses==0.0.1
google-reverse-search==0.1.3
gpytranslate==1.4.0
gtts==2.3.0
httpx[http2]>=0.18.1,<1.0.0
humanize==4.4.0
markdown2==2.4.6
motor==3.1.1
mutagen==1.46.0
opencv-python-headless==4.7.0.68
telegraph==2.2.0
Telethon==1.26.1
telethon-tgcrypto
TgCrypto==1.2.5
pillow==9.4.0
psycopg2-binary==2.9.2
pyrate-limiter==2.8.5
pyrogram==2.0.97
pymongo[srv]==4.3.3
python-dotenv==0.21.0
python-telegram-bot==20.0
python-telegram-bot[job-queue]
SQLAlchemy==1.4.46
webcolors==1.12
wikipedia==1.4.0
